.TusBebidas {
    background-color: #FCF7FF;
    // border: 5px solid #FF5154;
    // display: flex;
    // flex-direction: row;
    // margin: 10px;
    // font-size: 16px;
    // // min-width: ;
    // width: 330px;    
}
.Account {
    background-color:#F7B801 ;
    height: 100vh;
    width: 100%;
}

.TuBebida {
    background-color: #FCF7FF;
    border: 5px solid #FF5154;
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 16px;
    // min-width: ;
    width: 330px;
    
}

.ButtonShow {
    margin:18px;
    background-color: #FF5154;
}
.Disclaimer {
    margin: 15px;
    font-weight: normal;
    font-size: 10px;
}