// colores
// Mango: F7B801
// Dark Purple: #22162B
// Magnolia: Blanco #FCF7FF
// Cardinal (Rojo) #C41E3D
// Tart Orange: #FF5154
// French Lilac #8D6A9F


h2 {
  color:#FCF7FF;
  font-size: 30px;
  padding: 0 5px;
}
h3 {
  color:#FF5154;
  font-size: 20px;
  padding: 0 5px;
}

button {
  background-color: #F7B801;
  color: #FCF7FF;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid #FCF7FF;
  margin-top: 20px;
  margin-left: 3px;
  padding: 10px 5px;

  &:active {
    color: #8D6A9F;
  }
}

li {
  list-style: none;
}


.App {
  text-align: center;
  color: #22162B;
  background-color: #F7B801;
  width: 100%;
}


